<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342392547381-8e0320dru85fa0f421u93m4741lf83es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342392547381-8e0320dru85fa0f421u93m4741lf83es</string>
	<key>API_KEY</key>
	<string>AIzaSyAsM45wUH0HgFwfz1j-zeLyEfVRtWfZBkE</string>
	<key>GCM_SENDER_ID</key>
	<string>342392547381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Giannis.Music-Hub</string>
	<key>PROJECT_ID</key>
	<string>music-hub-5784a</string>
	<key>STORAGE_BUCKET</key>
	<string>music-hub-5784a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342392547381:ios:18e7b79c23123eca70a97c</string>
	<key>DATABASE_URL</key>
	<string>https://music-hub-5784a.firebaseio.com</string>
</dict>
</plist>